{% extends "./base.html.twig" %}

{% block body %}

<h1 class='text-center pt-5'>{{ title }}</h1>

    <div class='container bg-info card p-4  border-dark' style='margin-top:20px;max-width:600px;'>
        <div class='text-center'>
            {{ msg }}
        </div>
        {{ form_start(form) }}

            {{ form_widget(form) }}   
                
            <button type='submit' class='btn btn-dark btn-block btn-success'>Küldés</button>
        
        {{ form_end(form) }}
    </div>

{% endblock %}